:root {
  --blue: #61dafb;
  --white: #fff;
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.btn {
  background-color: var(--blue);
  color: white;
  border: 2px solid var(--blue);
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}

.btn-primary {
  border-radius: 30px;
}

.btn:hover {
  background-color: white;
  color: var(--blue);
  cursor: pointer;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
