@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary_color: #003366;
    --secondary_color1: #E0f7E9;
    --secondary_color2: #333333;
    --secondary_color3: #FFA000;
    --secondary_color4: #4A90E2;
}

.app {
    text-align: center;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
    color: #61dafb;
}

.btn {
    background-color: var(--primary_color);
    color: white;
    border: 2px solid var(--secondary_color2);
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.btn-primary {
    border-radius: 30px;
}

.btn:hover {
    background-color: white;
    color: var(--secondary_color2);
    cursor: pointer;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
